<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catering Services</title>

        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation-flex.min.css">
        <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="large-3 columns">
                <h1><img src="http://placehold.it/400x100&text=Catering Logo"/></h1>
            </div>
            <div class="large-9 columns">
                <ul class="right button-group">
                    <li><a href="/browse.html" class="button">Browse Caterers</a></li>
                    <li><a href="/search.html" class="button">Search</a></li>
                    <li><a href="/faq.html" class="button">FAQ</a></li>
                    <li><a href="/login.html" class="button">Sign In / Register</a></li>
                </ul>
            </div>
        </div>

        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

        {{> body}}

        <footer class="row">
            <div class="large-12 columns">
                <hr/>
                    <div class="row">
                        <div class="large-6 columns">
                            <p>&copy; 2016 MRM</p>
                        </div>
                        <div class="large-6 columns">
                            <ul class="inline-list right">
                                <li><a href="/tos.html">Terms of Service</a></li>
                                <li><a href="/privacy.html">Privacy Policy</a></li>
                                <li><a href="/contact_us.html">Contact Us</a></li>
                                <li><a href="/about_us.html">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </footer>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>

        <!-- post footer starts -->

        <script>
            // Your code goes here
        </script>
    </body>
</html>
